# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# vi
*.swp

# C extensions
*.so

# Colcon
ns3_gazebo_ws/install/
ns3_gazebo_ws/log/

# Distribution / packaging
.Python
build/
dist/

